<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Key</key>
	<string>OAwWqQAUivDc3gurjGs2ziP6n</string>
	<key>consumer_Secret</key>
	<string>CwskaIHK2sxPV3lAbuIZVNrPisHOmcs6byKrl0xhDHix7QpzAE</string>
</dict>
</plist>
