<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Key</key>
	<string>UYv2UwnJIi7WoMF4wbrZ2jLyw</string>
	<key>consumer_Secret</key>
	<string>XmcZKNmaxKLPm7MXiGUg1W1mhlWClcY1d94gS90DbkgugaK3NE</string>
</dict>
</plist>
